{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans " Login echoué" %}{% endblock %}

{% block content %}
<h1>{% trans "Login echoué" %}</h1>

<p>{% trans "Erreur detecté lors de connection à votre compte." %}</p>
{% endblock %}
