{% extends "account/base.html" %}

{% load i18n %}



{% block content %}

<div class="row justify-content-center">
  <div class="col-md-6 col-sm-12 text-center pb-3">
    <h1>{% trans "Deconnection" %}</h1>
    <p>{% trans 'Voulez-vous deconnecter?' %}</p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6 col-sm-12">
    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <div class="d-grid gap-2">
      <button class="btn btn-dark" type="submit">{% trans 'Deconnecter' %}</button>
      </div>
    </form>
  </div>
</div>


{% endblock %}
