{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Créer votre compte" %}{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 col-sm-12">
    <h1>{% trans "Créer votre compte" %}</h1>

    <p>{% blocktrans %}Vous-avez deja un compte? donc <a href="{{ login_url }}">Connectez-vous</a>.{% endblocktrans %}</p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6 col-sm-12">
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="d-grid gap-2">
        <button class="mt-3 btn btn-dark btn-block" type="submit">{% trans "Creer Compte" %} &raquo;</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
