{% extends 'landing/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-10 col-sm-12 text-center">
            <h1 class="display-2">Espace Intellectuel</h1>
            <h1 class="display-2">Connectez avec vos amis</h1>
            <p class="mt-3 lead">Aider, et profiter d'aide de plusieurs Academiques etudiants et professeures </p>
            <div class="d-flex justify-content-center mt-5">
                <a href="{% url 'account_login' %}" class="btn btn-light mr-2">Connecter</a>
                <a href="{% url 'account_signup' %}" class="btn btn-dark">Creer un compte</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
