{% extends 'landing/base.html' %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-5 col-sm-6">
            <a href="{% url 'post-detail' object.post.pk %}" class="btn btn-light">Retour</a>
        </div>
    </div>

    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12 border-bottom">
            <form method="POST">
                {% csrf_token %}
                <h5>Vous etes Sure?</h5>
                <p>de supprimer votre commentaire</p>
                <div class="d-grid gap-2">
                    <button class="btn btn-danger mt-3">Supprimer</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}