{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<script type="text/javascript">
    function divide() {
        var txt;
        txt = document.getElementById('a').value;
        var text = txt.split(".");
        var str = text.join('.</br>');
        document.write(str);
    }
</script>

<div class="container">
    <div class="row justify-content-center mt-8">
        <div class="col-md-5 col-sm-12 border-bottom">
            <h6></h6>
        </div>
    </div>
    
    <div class="row mt-5">
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'post-list-follower' %}" class="btn btn-light">POUR VOUS</a>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'post-list' %}" class="btn btn-light">TOUS</a>
        </div>
    </div>
    


    

    <div class="row justify-content-center mt-3 mb-5">
        
        <div class="col-md-5 col-sm-12 border-bottom">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-grid gap-3">
                    <button class="btn btn-dark btn-success mt-4" onclick="join('.</br>')">Partager</button>
                </div>
            </form>
            
        </div>
        
    </div>
    

    {% for post in post_list %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom position-relative">
            {% if post.shared_user %}
            <div>
                <a href="{% url 'profile' post.shared_user.profile.pk %}">
                    <img class="round-circle post-img" height="30" width="30" src="{{ post.shared_user.profile.picture.url }}" />
                </a>
                <p class="post-text">
                    <a class="text-primary post-link" href="{% url 'profile' post.shared_user.profile.pk %}">@{{ post.shared_user }}</a> a apartagé  {{ post.shared_on }}
                </p>
            </div>
            {% else %}
            <div>
                <a href="{% url 'profile' post.author.profile.pk %}">
                    <img class="round-circle post-img" height="30" width="30" src="{{ post.author.profile.picture.url }}" />
                </a>
                <p class="post-text">
                    <a class="text-primary post-link" href="{% url 'profile' post.author.profile.pk %}">@{{ post.author }}</a>  {{ post.created_on }}
                    <span onclick="shareToggle('{{ post.pk }}')"><i class="far fa-share-square share-btn"></i></span>
                </p>
            </div>

            {% endif %}
            <form method="POST" action="{% url 'share-post' post.pk %}" class="d-none" id="{{ post.pk }}">
                {% csrf_token %}
                {{ shareform | crispy }}
                <div class="d-grid gap-2">
                    <button class="btn btn-success mt-3">share the post</button>
                </div>
            </form>
            {% if post.shared_body %}
            <div class="position-relative border-bottom mb-3">
                <p>{{ post.shared_body }}</p>
            </div>
            <div class="shared-post">
                <a href="{% url 'profile' post.author.profile.pk %}">
                    <img class="round-circle post-img" height="30" width="30" src="{{ post.author.profile.picture.url }}" />
                </a>
                <p class="post-text">
                    <a class="text-primary post-link" href="{% url 'profile' post.author.profile.pk %}">@{{ post.author }}</a> {{ post.created_on }}
                </p>
            </div>
            {% endif %}
            <div class="position-relative">
                <p>{{ post.body | linebreaksbr }}</p>
                <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
                {% if post.Image %} 
                <source src="{{post.Image.url}}"  >
                  {% endif %}
            </div>

            <div class="d-flex flex-row">
                <form method="POST" action="{% url 'like' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="remove-default-btn" type="submit">
                        <i class="far fa-thumbs-up"> <span>{{ post.likes.all.count }}</span></i>
                    </button>
                </form>

                <form method="POST" action="{% url 'dislike' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="remove-default-btn" type="submit">
                        <i class="far fa-thumbs-down"> <span>{{ post.dislikes.all.count }}</span></i>
                    </button>
                </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
