{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container">
    <div class="row justify-content-center mt-8">
        <div class="col-md-5 col-sm-12 border-bottom">
            
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'post-list-follower' %}" class="btn btn-light">POUR VOUS</a>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'post-list' %}" class="btn btn-light">TOUS</a>
        </div>
    </div>
    
    
    <div class="row justify-content-center mt-3 mb-5">
        
        <div class="col-md-5 col-sm-12 border-bottom">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-grid gap-3">
                    <button class="btn btn-dark btn-success mt-4">Partager</button>
                </div>
            </form>
            
        </div>
        
    </div>

    

    
    

    {% for post in post_list %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom position-relative">
            <div>
                <a href="{% url 'profile' post.author.profile.pk %}">
                    <img class="round-circle post-img" height="30" width="30" src="{{ post.author.profile.picture.url }}" />
                </a>
                <p class="post-text">
                    <a class="text-primary post-link" href="{% url 'profile' post.author.profile.pk %}">@{{ post.author }}</a> <a class="text-primary post-link" href="#">#{{post.specialite}}</a> {{ post.created_on }}
                </p>
            </div>
            <div class="position-relative">
                <p>{{ post.body }}</p>
                <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
                {% if post.Image %} 
                  <img src="{{ post.Image.url }}" class="post-file" />
                  {% endif %}
            </div>

            <div class="d-flex flex-row">
                <form method="POST" action="{% url 'like' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="remove-default-btn" type="submit">
                        <i class="far fa-thumbs-up"> <span>{{ post.likes.all.count }}</span></i>
                    </button>
                </form>

                <form method="POST" action="{% url 'dislike' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="remove-default-btn" type="submit">
                        <i class="far fa-thumbs-down"> <span>{{ post.dislikes.all.count }}</span></i>
                    </button>
                </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
